/*
// 8. Features
*/

.service{
  background: #dd645e;
  border-radius: 2rem;

}

.last-one{
  background: #dbcba0;
  border-radius:   2rem      ;

}



@media (min-width: 200px) and (max-width: 768px) {
  img .myimg{
    max-width: 100%;
  }


.last-one{
  background: #dbcba0;
  border-radius: 2rem    ;

}

}
