/*
// 1. General
*/



html{
  direction: rtl !important;
  height: 100%;
  position: relative;
  font-size: 10px;
}


@media (min-width: 768px) and (max-width: 1200px)
{
  html{
    direction: rtl !important;
    height: 100%;
    position: relative;
    font-size: 8.5px;
  }
}

@media (max-width: 768px) and (min-width: 200px)
{
  html{
    direction: rtl !important;
    height: 100%;
    position: relative;
    font-size: 7px;
  }
}

app-root {
  min-height: 100%;
  display: block;
  position: relative;
  padding-bottom: 19.6rem; // height of the footer

  }


a {
    text-decoration: none !important;
    outline: none;
}
body {
    font-family: $font-primary;
    color: $dark;
    background: $body-bg;
    font-weight: 500;
    height: 100%;
    position: relative;
}

p {
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    font-weight: 700;
}


