/*
// 06.Hero
*/

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// Hero 1
.hero-1-bg {
  padding: 5rem 0 0rem;
  background: rgba($primary, 0.025) url("../images/features-bg-img-1.png") ;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
                ;
  .hero-1-title {
      font-size: 5.2rem;
      font-weight: 100;
  }

}

.hero-2-title {
font-size: 3rem;
font-weight: 100;
}


.list-hero{
  list-style: none;
  width: 100%;
  padding-right: 0rem !important;
  font-size: 2rem;
  color: $muted;
  margin: 1.5rem 0rem  2rem 0 !important;

    .list-hero-element{
      margin: 1rem;
    }
}
.btn-big{
font-size: 2.5rem !important;
min-width: 100%;
}



@media (max-width: 992px) {
  .list-hero{
    width: 55%;
    display: inline;
    float: right;
    background: rgba($color: $white, $alpha: 0.01);
    border-radius: 1rem;
  }

  .btn-big{
    font-size: 2.5rem !important;
    min-width: 40%;
    float: left;
    margin: 5rem 0rem 0rem 0rem !important;
    }

    .hero-1-title {
    text-align: center;
    margin-bottom: 1rem;
  }


}

