/*
// 7. Why Choose Us
*/

.bg-darknes{
  background:rgba($color:white, $alpha: 0.05)
}
.ourteam{
   background-color: #dbcba0;
   border-radius: 2rem;
}


  button {
    // position: absolute;
    // top: 5px;
    // right: 5px;
    margin-left: 1rem;
}

