<!-- Why Choose Us Start -->
<section class="section">
  <div class="container  ">
    <div class="ourteam row text-right p-5">
      <div class="col-lg-6  col-md-12  mt-5  pl-5  text-white centerMobile ">
        <h1 class="hero-2-title mt-5  mt-md-0   text-shadow mb-5" > 👋 نعرفك على لفريق </h1>
        <p class="  pb-1  mb-5 mt-5 font-size-20">نحن اربع شباب مبدعين كلن في مجاله، لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
        </p>

        <button   class="btn btn-light">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
        <button   class="btn  btn-outline-light"> <i class="mdi mdi-menu-down-outline icon-home"> </i>  تصفح الباقات</button>

        </div>
      <div class="col-lg-6 col-md-12 ">
        <div class=" mt-5 mt-lg-0 ">
          <img src="assets/images/our-team.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose Us End -->
