
  <div class="container"  >


    <h1 class="hero-2-title p-5 m-2 text-white  text-right  text-shadow  ">
      <i class="mdi mdi-home icon-home"> </i>
      <strong> طلب الخدمة </strong>ختار الباقة لي تناسبك
    </h1>


<div class="text-white" style="display: flex; flex-wrap: wrap; justify-content: space-around;">

     <div class="card  m-2 p-5 text-center" style=" border-radius :2rem;   background-color: #3d2a4f; padding-top: 12rem !important;  background-image: url('assets/images/05066.png'); ">

      <h2 class="pt-5   ">   <i class="mdi mdi-cart icon-home"> </i> برمجة المواقع </h2>
      <p class="m-3 font-size-14 mb-5 ">   هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد </p>
        <button class="btn  text-white   mb-5 " style="background-color: #82498c !important; max-width:16 ; margin: 0 auto; ">   <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>

   </div>
   <div class="card m-2 p-5 text-center" style=" border-radius :2rem;     background-color: #b35249; padding-top: 12rem !important;  background-image: url('assets/images/bg-card-3.png'); ">

     <h2 class="pt-5   ">   <i class="mdi mdi-cart icon-home"> </i> برمجة المواقع</h2>
    <p  class="m-3  font-size-14 mb-5 "> > هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد </p>
      <button    class="btn text-white   mb-5 " style="background-color: #ff7264 !important;  max-width:160px ; margin: 0 auto; ">   <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>

 </div>
 <div class="card m-2   p-5 text-center" style=" border-radius :2rem;   background-color: #898485; padding-top: 12rem !important;  background-image: url('assets/images/bg-card-2.png'); ">

   <h2 class="pt-5    ">   <i class="mdi mdi-cart icon-home"> </i> برمجة المواقع</h2>
  <p  class="m-3  font-size-14 mb-5 ">   هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد </p>
    <button   class="btn text-white   mb-5   " style="background-color: #b9ad8f !important;  max-width:160px ;      margin: 0 auto;">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>

</div>
</div>

</div>
