
  <div class="container"  >


    <h1 class="hero-2-title p-5 m-2 text-white  text-right  text-shadow  ">
      <i class="mdi mdi-home icon-home"> </i>
     يمكنك اختيار الخدمة  المناسبة لك :
    </h1>


<div class="text-white" style="display: flex; flex-wrap: wrap; justify-content: space-around;">

     <div class="card  m-2 p-5 text-center" style=" border-radius :2rem;   background-color: #3d2a4f; padding-top: 12rem !important;   ">

      <h2 class="pt-5   ">   <i class="mdi mdi-cart icon-home"> </i>  موشن غرافيك متكامل</h2>
      <p class="m-3 font-size-16 mb-5 ">  عند طلبك للخدمة ستحصل على  فيديو بتقنية الموشن جرافيك مع تعليق صوتي بسعر خاص ومنافس     </p>
        <button class="btn  text-white   mb-5 " style="background-color: #82498c !important; max-width:16 ; align-self: center;
        margin: 0 !important; ">   <i class="mdi mdi-cart icon-home"> </i>  احتاج الى فيديو </button>

   </div>
   <div class="card m-2 p-5 text-center" style=" border-radius :2rem;     background-color: #b35249; padding-top: 12rem !important;   ">

     <h2 class="pt-5   ">   <i class="mdi mdi-cart icon-home"> </i>  فيديو ستوري </h2>
    <p  class="m-3  font-size-14 mb-5 "> نحن نفهم السوق جيدا و نعلم ان ستوري هي مصدر مهم لتسويق منتجك بفعالية على فيسبوك او انستقرام</p>
      <button    class="btn text-white   mb-5 " style="background-color: #ff7264 !important;  max-width:160px ; align-self: center;
      margin: 0 !important; ">   <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>

 </div>
 <div class="card m-2   p-5 text-center" style=" border-radius :2rem;   background-color: #898485; padding-top: 12rem !important;  background-image: url(); ">

   <h2 class="pt-5    ">   <i class="mdi mdi-cart icon-home"> </i> فيديو فيسبوك ادس</h2>
  <p  class="m-3  font-size-14 mb-5 ">ستحصل على فيديو مناسب لاطلاق اعلانات على فيسبوك محققا نتائج كبيرة باقل تكلفة ممكنة
    لحملتك الاعلانية
  </p>
    <button   class="btn text-white   mb-5   " style="background-color: #b9ad8f !important;  max-width:160px ;      align-self: center;
    margin: 0 !important;">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>

</div>
</div>

<div class="container mt-5 text-right rainbow2"  style="   border-radius: 2rem;" >

  <h1 class="hero-2-title  text-white mb-5 ">
    <i class="mdi mdi-home icon-home"> </i>

      فيديوهات موشن غرافيك:
  </h1>


  <div class="text-white" style="display: flex; flex-wrap: wrap; justify-content: space-around;">

    <div class="card-2  m-2 p-5 text-center" style=" border-radius :2rem;   background-color: #3d2a4f;     ">

      <img   class="img-portflio" src="https://cdn.dribbble.com/users/1078019/screenshots/2864775/_2-gym--dribbble-shot.gif" alt="">

    </div>

    <div class="card-2  m-2 p-5 text-center" style=" border-radius :2rem;   background-color: #3d2a4f;     ">

      <img   class="img-portflio" src="https://cdn.dribbble.com/users/1078019/screenshots/2864775/_2-gym--dribbble-shot.gif" alt="">

    </div>

    <div class="card-2  m-2 p-5 text-center" style=" border-radius :2rem;   background-color: #3d2a4f;     ">

      <img   class="img-portflio" src="https://cdn.dribbble.com/users/1078019/screenshots/2864775/_2-gym--dribbble-shot.gif" alt="">

    </div>

    <div class="card-2  m-2 p-5 text-center" style=" border-radius :2rem;   background-color: #3d2a4f;     ">

      <img   class="img-portflio" src="https://cdn.dribbble.com/users/1078019/screenshots/2864775/_2-gym--dribbble-shot.gif" alt="">

    </div>

</div>




</div>


</div>
