.card{
  min-height: 40rem;
  max-width: 35rem;
  min-width: 31%;

  @media (max-width: 1000px) {
      min-width: 100% !important;
  }
}

.card-2{
  max-width: 25rem;

  @media (max-width: 1000px) {
      min-width: 40% !important;
  }
}


.img-card-bg{
  position: absolute;
   top: 0;

  height: 100%;
    opacity: 0.6;
  z-index: -1;
}


