<div class="text-center p-3 bg-warning text-whight">
  <h3> أول خدمة في العالم العربي متخصصة في إنتاج فيديوات لأصحاب التجارة الالكترونية</h3>
</div>
<section class="section  ">

<div class="container mt-5 ">

  <div class="row  bg-gradient-primary  mb-3" >
    <div class="col text-center p-5 text-white">
      <h1 class="title-big-2 mb-5 "> لنبدأ العمل على الفيديو الان  🎉 !  </h1>
      <h3 class="title-big-1 ">كل ما عليه الان هو تملأ الاستمارة اسفله  لنتواصل معك</h3>
    <form class="m-5 ">
      <div class="form-group">
         <input type="email" class="form-control font-size-16 p-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="الاسم الكامل ">
       </div>
      <div class="form-group">
         <input type="password" class="form-control font-size-16 p-5" id="exampleInputPassword1" placeholder=" ايميل ">
      </div>
      <div class="form-group">
        <input type="password" class="form-control font-size-16 p-5" id="exampleInputPassword1" placeholder="رقم الهاتف">
     </div>
       <button type="submit"  class="btn-whtsapp    btn btn-blue-light">
        لنبدأ العمل الان <i class="mdi mdi-arrow-left icon-home"> </i>  </button>

    </form>
  </div>


  <div class="bg-white d-flex flex-wrap text-right p-5 align-middel justify-content-center ">

    <div class="info-contact text-right justify-content">
    <p class=" text-dark  ">
      يمكنك التواصل معنا مباشرة على الواتسب و استفسار عن الخدمات التي نقدمها
    </p></div>

  <div class="   text-center align-middel">

    <button   class="btn-whtsapp    btn btn-blue-light">
        تواصل معنا   عبر الواتس اب <i class="mdi mdi-arrow-left icon-home"> </i>  </button>

  </div>

 </div>
</div>


</div>
</section>


<!-- Why Choose Us End -->



