<!-- Why Choose Us Start -->
<section class="section">
  <div class="container">
    <div class="pricing row text-right p-4">

      <div class="col-lg-6 mt-5   text-white ">
        <h1 class="hero-2-title   text-shadow mb-4" > شنو لخدمات لي كنقدمو ؟</h1>
        <p class="  pb-1  mb-4 mt-4 font-size-20">إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
          إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد،
        </p>

        <button   class="btn btn-light">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
        <button   class="btn  btn-outline-light"> <i class="mdi mdi-menu-down-outline icon-home"> </i>  تصفح الباقات</button>

        </div>


      <div class="col-lg-6 col-md-10 ">
        <div class=" mt-5 mt-lg-0 ">
          <img _ngcontent-wbj-c100="" src="assets/images/pricing.png" alt="" class="img-fluid d-block mx-auto" style="max-width: 350px;">        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose Us End -->
