 <!-- Hero Start -->

 <section class="hero-1-bg" style=" background-color: #292948; background-image: url('assets/images/features-bg-img-1.png');" id="home">
  <div class="container">
    <div class="row text-white  text-right align-items-center justify-content-center">
      <div class="col-lg-7  col-md-12   ">
        <div class="w-75 mb-5 mb-lg-0  centerMobile">
          <h1 class="hero-1-title text-white   text-shadow mb-4">ماذا نقدم لك  ؟</h1>
          <p class="text-muted  pb-1 font-size-20">نتميز بخبرة كبيرة تمكننا من فهم متطلبات السوق و اختصار الوقت عليك وتقديم الفيديو بجودة عالية وثمن بسيط
          </p>
          <ul class="text-muted font-size-20 pb-2 nodisplay">
            <li>تسليم سريع</li>
            <li>جودة ودقة </li>

            <li>احترافية عالية </li>

          </ul>
             <button   class="btn btn-success  mt-5 ml-5">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
            <button   class="btn  btn-outline-light  mt-5"> <i class="mdi mdi-menu-down-outline icon-home"> </i>  تصفح الباقات</button>

         </div>
      </div>
      <div class="col-lg-5 col-md-12 nodisplay text-center">
        <div class=" mt-5 mt-lg-0">
          <img src="assets/images/one.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero End -->
