
#line-1{
  animation: test 4s ease infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#line-2{
  animation: test 8s ease infinite;
  transform-origin: right;
  transform-box: fill-box;
}
#fadein{
  animation: fade-in  2s infinite alternate;
}


#fadein-2{
  animation: fade-in-2  2s infinite alternate;
}

#plants{
  animation:fade-in-right  1s ease-out ;
  transform: translateX(-30px);
}

#paper{
  animation:fade-in-left  2s ;
  transform:translateX(10px);
}

#graphice{
  animation:fade-in-left-2  2s  infinite alternate;
  transform:translateX(10px);
}

@keyframes test {
  from{
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fade-in {
    0% {
      transform:  translateX(30px);
     }
    100% {
       transform: translateX(0px);
}
}

@keyframes fade-in-2 {
  0% {
    transform:  translateX(-30px);
   }
  100% {
     transform: translateX(0px);
}
}


@keyframes fade-in-right {
  0% {
    transform:  translateX(50px);
  opacity: 0;

   }



  100% {
     transform: translateX(-30px);
     opacity: 1;

}
}


@keyframes fade-in-left {

  0% {
    transform:  translateX(-50px);
  opacity: 0;

   }

  100% {
     transform: translateX(10px);
     opacity: 1;

}
}



@keyframes fade-in-left-2 {

  0% {
    transform:  translateY(-15px);

   }

  100% {
     transform: translateY(20px);

}
}




@keyframes fade-in-left-3 {

  0% {
    transform:  translateX(-50px);

   }

  100% {
     transform: translateX(10px);

}
}






