
<div class="container"  >




  <h1 class="hero-2-title  mt-5  text-white  text-center  text-shadow  ">
     <i class="mdi mdi-home icon-home"> </i>
    فريق متكامل يسهر على خدمتك
  </h1>

  <p class="text-center text-white font-size-17 mt-5">
    نخبة من شباب المغاربة الطموحين يسهرون على الانتاج مقاطع فيديو عالية الجودة

        التي ستساعدك حتما
        <br>
        في تطوير عملك على انتنريت و  الانتقال الى مستوى اخر من المبيعات
        ونحن نسعى جاهدين
    <br>


   الى بناء علاقات مبنية على ثقة و مصدقية مع عملائنا
  </p>
    <div class="cards">


 <div class="mycard   my-bgwhite ">
  <img src="/assets/images/onetwo.jpg" alt="" >

  <div class="dataProfil">
    <h2 class="mb-3">ابتسام الزيتوني</h2>
      <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
      <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

  </div>
</div>


<div class="mycard  ">
  <img src="/assets/images/onetwo.jpg" alt="" >

    <div class="dataProfil">
      <h2 class="mb-3">ابتسام الزيتوني</h2>
        <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
        <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

    </div>
  </div>


  <div class="mycard   ">
    <img src="/assets/images/onetwo.jpg" alt="" >

    <div class="dataProfil">
      <h2 class="mb-3">ابتسام الزيتوني</h2>
        <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
        <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

    </div>
  </div>


  <div class="mycard   my-bgwhite ">
    <img src="/assets/images/onetwo.jpg" alt="" >

    <div class="dataProfil">
      <h2 class="mb-3">ابتسام الزيتوني</h2>
        <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
        <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

    </div>
  </div>


    </div>
</div>
