.cards{
  width: 100%;
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}


.mycard{
  background: #32325C;
  margin: 1rem;
  color: white;
  min-width: 43rem;
  padding: 2rem ;
  display: flex;
  align-items: center;
   border-radius: 1.5rem;
  text-align: right;
  justify-content: center;
  font-size: 1.6rem;
}

img{

  height: 9.5rem;
  border-radius: 25%;

}

.dataProfil{
  margin: 1.5rem;

}

.my-bgwhite{
  background-color: rgba($color: white, $alpha: 0.10);
}
