
<div class="container"  >

  <h1 class="hero-2-title mt-5 mr-5 text-white  text-right  text-shadow mb-4">
    <i class="mdi mdi-home icon-home"> </i>
    من نحن؟  </h1>


    <div class="cards">
      <div class="mycard  ">
        <img src="/assets/images/1233.png" alt="" >

        <div class="dataProfil">
          <h4 class="mb-3">أيوب الخضاري</h4>
            <span class="text-muted m-1 " style="display: block;"> مبرمج مواقع </span>
            <span class="text-muted m-1 " > اتحدث مع حاسوب بطلاقة  </span>

        </div>
     </div>
     <div class="mycard  ">
      <img src="/assets/images/1233.png" alt="" >

      <div class="dataProfil">
        <h4 class="mb-3">ياسين صادوق</h4>
          <span class="text-muted m-1 " style="display: block;">موشن ارتيست </span>
          <span class="text-muted m-1 " >  اطارا بالاطار احرك الاشياء</span>

      </div>
   </div>
   <div class="mycard  ">
    <img src="/assets/images/1233.png" alt="" >

    <div class="dataProfil">
      <h4 class="mb-3">مبارك الناقعي</h4>
        <span class="text-muted m-1 " style="display: block;"> مصمم تجربة مستقدم</span>
        <span class="text-muted m-1 " > التناسق وجمال لا يراهم الى مبدعين </span>

    </div>
 </div>
 <div class="mycard  ">
  <img src="/assets/images/1233.png" alt="" >

  <div class="dataProfil">
    <h4 class="mb-3">ابتسام الزيتوني</h4>
      <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
      <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

  </div>
</div>


    </div>
</div>
