.cards{
  width: 100%;
  padding: 0.1rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}


.mycard{
  background: #32325C;
  margin: 0.1rem;
  color: white;
  min-width: 50rem;
  padding: 3rem ;
  display: flex;
  align-items: center;
   border-radius: 1.5rem;
  text-align: right;
  justify-content: center;
}

img{

  height: 12.5rem;
  border-radius: 50%;

}

.dataProfil{
  margin: 1.5rem;

}
