
<div class="container"  >

  <h1 class="hero-2-title p-5 m-2 text-white  text-right  text-shadow  ">
    <i class="mdi mdi-home icon-home"> </i>
  فريق متكامل يسهر على خدمتك
  </h1>



    <div class="cards">


 <div class="mycard   my-bgwhite ">
  <img src="/assets/images/onetwo.jpg" alt="" >

  <div class="dataProfil">
    <h2 class="mb-3">ابتسام الزيتوني</h2>
      <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
      <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

  </div>
</div>


<div class="mycard  ">
  <img src="/assets/images/onetwo.jpg" alt="" >

    <div class="dataProfil">
      <h2 class="mb-3">ابتسام الزيتوني</h2>
        <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
        <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

    </div>
  </div>


  <div class="mycard   ">
    <img src="/assets/images/onetwo.jpg" alt="" >

    <div class="dataProfil">
      <h2 class="mb-3">ابتسام الزيتوني</h2>
        <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
        <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

    </div>
  </div>


  <div class="mycard   my-bgwhite ">
    <img src="/assets/images/onetwo.jpg" alt="" >

    <div class="dataProfil">
      <h2 class="mb-3">ابتسام الزيتوني</h2>
        <span class="text-muted m-1 " style="display: block;">معلق صوتي محترف </span>
        <span class="text-muted m-1 " > اسجل لك صوتا تنبهر له الاذن </span>

    </div>
  </div>


    </div>
</div>
