<!-- Loader -->
<div id="preloader" *ngIf="isLoading">
  <div id="status">
    <div class="spinner"></div>
  </div>
</div>

  <!--Navbar Start-->

  <div *ngIf="isContact" class="text-center p-3 bg-warning text-whight">

    <h3>   خدمة مختصة في انتاج فيديوهات الترويجية لمقاولات و الشركات الناشئة بالمغرب  </h3>
    </div>


  <!-- <div *ngIf="isContact" class="text-center p-3 bg-warning text-whight">
    <h3>   خدمتنا مفتوحة 7/7 على 24/24 فريقنا تحت تصرفكم للإجابة على أسئلتكم  </h3>
  </div> -->

  <nav *ngIf="isContact" class="navbar navbar-expand-lg navbar-custom" id="navbar">
    <div class="container ">

      <!-- LOGO -->
      <a class="navbar-brand logo" href="/">
        <img src="assets/images/logo-dark.png" alt="" class="logo-dark" height="45" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleMenu()" >
        <i class="mdi mdi-menu"></i>
      </button>

      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
          <li class="nav-item home"  >
            <a   routerLink="/"  class="nav-link"><i class="mdi mdi-home icon-home"></i>  الصفحة الرأيسية</a>
          </li>
          <li class="nav-item"  >
            <a href="javascript: void(0);"   routerLink="/service"  class="nav-link"><i class="mdi mdi-message icon-home"></i> خدماتنا </a>
          </li>
          <li class="nav-item" >
            <a routerLink="/ourteam"    class="nav-link"> <i class="mdi mdi-account-group icon-home"></i> من نحن </a>
          </li>
          <li class="nav-item"  >
            <a routerLink="/qustion"    class="nav-link"  ><i class="mdi mdi-head-alert icon-home"></i> اسئلة شائعة </a>
          </li>

        </ul>
        <ul class="navbar-nav navbar-center">
          <button  routerLink="/call"   class="btn btn-success ml-4"  >
           اطلب استشارة مجانية  <i class="mdi  mdi-arrow-left  icon-home"> </i>
          </button>


        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

<router-outlet></router-outlet>

<div *ngIf="isContact" class="footer mt-4 ">



    <ul class=" navbar-center mx-auto" >
      <li class="nav-item home"    >

        <a   routerLink=""  class="nav-link"><i class="mdi mdi-home icon-home"></i>  الصفحة الرأيسية</a>
      </li>
      <li class="nav-item"  >
        <a href="javascript: void(0);"   routerLink="/service"  class="nav-link"><i class="mdi mdi-message icon-home"></i> خدماتنا </a>
      </li>
      <li class="nav-item" >
        <a routerLink="/ourteam"    class="nav-link"> <i class="mdi mdi-account-group icon-home"></i> من نحن </a>
      </li>
      <li class="nav-item"  >
        <a routerLink="/qustion"    class="nav-link"  ><i class="mdi mdi-head-alert icon-home"></i> اسئلة شائعة </a>
      </li>

    </ul>


<ul class="social-networks spin-icon ">
  <li><a href="https://www.instagram.com/motionland.ma/" class="icon-instagram">Instagram</a></li>
  <li><a href="https://www.facebook.com/motionland.ma" class="icon-facebook">facebook</a></li>
   <li><a href="https://twitter.com/motionland_ma" class="icon-twitter">Twitter</a></li>
  <li><a href="https://twitter.com/" class="icon-linkedin">linkedin</a></li>
</ul>



  </div>





