
<div class="container"  >

  <h1 class="hero-2-title p-5 m-2 text-white  text-right  text-shadow  ">
    <i class="mdi mdi-home icon-home"> </i>
    <strong> طلب الخدمة </strong>ختار الباقة لي تناسبك
  </h1>



          <ngb-accordion  class=" card  "  #acc="ngbAccordion" activeIds="ngb-panel-0">



    <ngb-panel title="كيفاش كتكون طريقة عمل ؟ ">
      <ng-template ngbPanelContent>
        مباشرة بعد  طلب الخدمة ,  كنبادو العمل  على الفيديو  , بداية من  كتابة سيناريو مناسب للفيديو , ثم تحويل السكريبت الى معلق صوتي الذي يقوم بدوره بتسجيل السكريبت  في استوديو خاص من اجل حفاط على جودة عالية  , وفي نفس الوقت يتم تجهيز  الستوري بورد  من اجل جعل  افكار  اكثر الابداع و  وضوحا    وهكا كتكون جميع متطلبات الفيديو  جاهزة باش نبداو على خدمة  على مرحلة انميشين   لهي اخر مرحلة  في عملية الابداعية     </ng-template>
    </ngb-panel>


    <ngb-panel title=" كاين تعليق صوتي بدارجة  ؟ ">
      <ng-template ngbPanelContent>
        تعليق صوتي كيلعب دور كبير في اقناع مشاهد  وايصال افكار و هدشي علاش  كنخليو العميل يختار من بين عدة عينات مختلفة ,  من بينها نبرة صوتية نسائية في حالة استهداف  المنتوجات النسائية وبطبيعة هدشي كيكون بلهجة مغربية اصيلة و كنوفرو كذلك لهجات خليجة في حالة كنتي كتستهدف  السوق الخليجي .       </ng-template>
    </ngb-panel>

    <ngb-panel title="كيف يتم كتابة سيناريو ؟ ">
      <ng-template ngbPanelContent>
        سيناريو من  الخطوات  المهمة في عملية صناعة الفيديو حيث هو الاساس , وحيث حنا كنتوفر على خبرة كبيرة في هدا مجال
        كيثم كتابة سيناريو بطريقة كتخلي مشاهد متشوق
        <br>
        باش يكمل فيديو حتى نهاية الفيديو . وهكا تقدر تشرح ليه مزيان اشنو كيدير منتج ديالك


            </ng-template>
    </ngb-panel>

    <ngb-panel title="شحال كيخاد فيديو باش يكون واجد  ؟ ">
      <ng-template ngbPanelContent>
        مدة التي ياخدها فيديو يكون في متوسط ايام وياخد ايضا حسب طول فيديو

      </ng-template>
    </ngb-panel>
    <ngb-panel title=" شحال هي مدة الفيديو ؟">
      <ng-template ngbPanelContent>

        مدة فيديو تكون حسب عميل واختصاص الفيديو مثلا
        لاعلانات انستجرام وسناب شات : 10تواني
        لفيديوهات فايسبوك:30تانية
        لفيديوهات يوتيب :من دقيقة الى 4دقائق
        تختلف ايضا مدة حسب رغبة عميل


      </ng-template>
    </ngb-panel>

  </ngb-accordion>

</div>

