
<div class="container"  >

  <h1 class="hero-2-title mt-5 mr-5  text-white  text-right  text-shadow mb-5">
    <i class="mdi mdi-home icon-home"> </i>
    الأسئلة الأكثر شيوعا
  </h1>




          <ngb-accordion  class=" card "  #acc="ngbAccordion" activeIds="ngb-panel-0">

          <ngb-panel title="كيف يتم الأمر ؟"  style="background-color: #36365f !important; color: #fff; font-size: 1.6rem;">
            <ng-template ngbPanelContent>


        اختر حزمة الفيديو المناسبة لك. اختر إعلان الفيديو الخاص بك: حدد حزمة الفيديو الأنسب لاحتياجاتك. قم بإضافة أي شروط تريدها

        الإجابة على استبيان قصير: عند الطلب، سيُطلب منك ملء استبيان خاص بعملائنا. هنا ستتمكن من تضمين أي ملاحظات إلى محررينا أو كيف تريد الفيديو الخاص بك وما إلى ذلك

        تسليم الفيديو عبر البريد الإلكتروني: ستتلقى الفيديو الخاص بك عبر البريد الإلكتروني الذي قدمته لنا في الإطار الزمني المحدد وفقًا للحزمة التي حددتها.

        ستتمكن من طلب ما يصل إلى 3 مراجعات في هذه المرحلة
      </ng-template>
    </ngb-panel>

    <ngb-panel title="سعر الخدمات  ">
      <ng-template ngbPanelContent>
        نحن نقدم حزم متعددة حسب إختيارك . يمكنك عرض أسعارنا بمجرد الدخول الى قسم الباقات


      </ng-template>
    </ngb-panel>


    <ngb-panel title="ما هو وقت التسليم؟">
      <ng-template ngbPanelContent>
        قد يختلف وقت التسليم اعتمادًا على الحزمة التي تحددها. يصل وقت التسليم من يوم واحد أو حتى 4 أيام.


      </ng-template>
    </ngb-panel>

    <ngb-panel title="ما هو وقت التسليم؟">
      <ng-template ngbPanelContent>
        قد يختلف وقت التسليم اعتمادًا على الحزمة التي تحددها. يصل وقت التسليم من يوم واحد أو حتى 4 أيام.


      </ng-template>
    </ngb-panel>
    <ngb-panel title="ما هو وقت التسليم؟">
      <ng-template ngbPanelContent>
        قد يختلف وقت التسليم اعتمادًا على الحزمة التي تحددها. يصل وقت التسليم من يوم واحد أو حتى 4 أيام.


      </ng-template>
    </ngb-panel>
    <ngb-panel title="ما هو وقت التسليم؟">
      <ng-template ngbPanelContent>
        قد يختلف وقت التسليم اعتمادًا على الحزمة التي تحددها. يصل وقت التسليم من يوم واحد أو حتى 4 أيام.


      </ng-template>
    </ngb-panel>
    <ngb-panel title="ما هو وقت التسليم؟">
      <ng-template ngbPanelContent>
        قد يختلف وقت التسليم اعتمادًا على الحزمة التي تحددها. يصل وقت التسليم من يوم واحد أو حتى 4 أيام.


      </ng-template>
    </ngb-panel>

  </ngb-accordion>

</div>

