<!-- Why Choose Us Start -->
<section class="section  ">
  <div class="container">
    <div class="  row text-right  ">





 <div class=" last-one col-lg-6 col-md-10  p-5 ">
        <div class=" mt-5 mt-lg-0 ">
          <img src="assets/images/last-section.png" alt="" class="img-fluid d-block mx-auto" style="max-width: 350px;">
         </div>
      </div>

      <div class="col-lg-6 mt-5   text-white  p-4">
        <h1 class="hero-2-title text-shadow mb-4 " >
           اش كتسنا ؟ اختار نوع لخدمة
          <br>

          وخلينا نبداو  ...
        </h1>
        <ul class="text-muted font-size-20 pb-2">
          <li>تسليم سريع</li>
          <li>جودة ودقة </li>

          <li>احترافية عالية </li>

        </ul>

        <button   class="btn btn-light">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
        <button   class="btn  btn-outline-light"> <i class="mdi mdi-menu-down-outline icon-home"> </i> المزيد من تفاصيل</button>

        </div>
    </div>
  </div>
</section>
<!-- Why Choose Us End -->
