<!-- Why Choose Us Start -->
<section class="section  ">
  <div class="container  bg-darknes">
    <div class="  row text-right  ">

 <div class=" last-one col-lg-6 col-md-12 pb-5 ">
        <div class=" ">
          <img src="assets/images/last-section.png" alt="" class="img-fluid d-block mx-auto" style="max-width: 35rem;">
         </div>
      </div>
  <div class="col-lg-5 col-md-12 mt-5 mr-5  text-white  p-4 centerMobile">
        <h1 class="hero-2-title text-shadow mb-5 " >
           اش كتسنا ؟ اختار نوع لخدمة
          <br>

          وخلينا نبداو  ...
        </h1>
        <ul class=" w-50  text-muted font-size-20 pb-2  mb-5">
          <li>تسليم سريع</li>
          <li>جودة ودقة </li>

          <li>احترافية عالية </li>

        </ul>

        <button   class="btn btn-light  mb-5">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
        <button   class="btn  btn-outline-light  mb-5"> <i class="mdi mdi-menu-down-outline icon-home"> </i> المزيد من تفاصيل</button>

        </div>
    </div>
  </div>
</section>
<!-- Why Choose Us End -->
