<!-- Footer Start -->



<div class="footer mt-4    ">


  <div class="buttons-footer">


    <button   class="btn btn-light">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
     <button   class="btn  btn-outline-light"> <i class="mdi mdi-menu-down-outline icon-home"> </i> المزيد من تفاصيل</button>
    </div>


    <ul class=" navbar-center" >
      <li class="nav-item"  >
        <a href="javascript: void(0);"  class="nav-link"><i class="mdi mdi-home icon-home"></i> الصفحة الرأيسية</a>
      </li>
      <li class="nav-item"  >
        <a href="javascript: void(0);"  class="nav-link"><i class="mdi mdi-message icon-home"></i> تواصل معنا </a>
      </li>
      <li class="nav-item"   >
        <a href="javascript: void(0);"   class="nav-link"> <i class="mdi mdi-account-group icon-home"></i> من نحن </a>
      </li>
      <li class="nav-item"  >
        <a href="javascript: void(0);"   class="nav-link"  ><i class="mdi mdi-head-alert icon-home"></i> اسئلة شائعة </a>
      </li>

    </ul>



  </div>


<!-- Footer End -->
