<!-- Why Choose Us Start -->
<section class="section">
  <div class="container">
    <div class="service row text-right pt-5 pb-5 pl-4 pr-4 ">

      <div class="col-lg-6  ">
           <img src="assets/images/service.png" alt="" class="img-fluid " >
       </div>

      <div class="col-lg-6   text-white  ">
        <h1 class="hero-2-title  text-shadow mb-5 mt-5   " > 👋 شنو لخدمات لي كنقدمو؟d </h1>
        <p class="  pb-1   mb-5 mt-5  font-size-20 "> إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما ترية،
        </p>

        <button   class="btn btn-light">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
        <button   class="btn  btn-outline-light"> <i class="mdi mdi-menu-down-outline icon-home"> </i> المزيد من تفاصيل</button>

        </div>



    </div>
  </div>
</section>
<!-- Why Choose Us End -->
