<!-- Why Choose Us Start -->
<section class="section">
  <div class="container">
    <div class="service row text-right p-4">

      <div class="col-lg-6 col-md-10  p-5 ">
        <div class=" mt-5 mt-lg-0 ">
          <img src="assets/images/service.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>

      <div class="col-lg-6 mt-3   text-white  p-4">
        <h1 class="hero-2-title  text-shadow  " > 👋 شنو لخدمات لي كنقدمو؟ </h1>
        <p class="  pb-1 mb-4 mt-4  font-size-20"> إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما ترية،
        </p>

        <button   class="btn btn-light">  <i class="mdi mdi-cart icon-home"> </i>  طلب  الخدمة </button>
        <button   class="btn  btn-outline-light"> <i class="mdi mdi-menu-down-outline icon-home"> </i> المزيد من تفاصيل</button>

        </div>



    </div>
  </div>
</section>
<!-- Why Choose Us End -->
